<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ingredients2Recipe</title>

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link href="{{ url_for('static', filename='index_style.css') }}" rel="stylesheet">
    <!-- <link href="/Users/alex/PycharmProjects/ingredients2recipe/static/index_style.css" rel="stylesheet"> -->
  </head>
  <body>

<main role="main">

<nav class="navbar navbar-expand-sm bg-dark">
  <a class="navbar-brand" href="/">Ingredients2Recipe</a>
</nav>

<div class="container-fluid text-center">
  <form method="post">
      <div class="input-group">
          <div class="container search-bar">
          <input type="text" name="user_text" class="form-control" placeholder="Type ingredients"/>
            <span class="input-group-btn">
              <button class="btn btn-default" id="GlobalSearchButton" type="submit">Search</button>
            </span>
              </div>
      </div>
  </form>
    <h2 class="jumbotron-heading"><span>Search results for: {{query}}</span></h2>
</div>
<div class="album py-5">
    <div class="container">
      <div class="row">
        {% for hit in hits %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" height="250" src="{{ hit._source.photo_url }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" id="ResultImage">
              
            <div class="card-body">
              <p class="card-text">{{ hit._source.recipe_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" id="RecipeButton">Recipe</button>
                    
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="RecipeTitle">{{ hit._source.recipe_name }}</h2>
                          <span class="close">&times;</span>
                        </div>
                        <div class="modal-body">
                            <h4>Ingredients:</h4>
                            {% if hit._source.ingredients_amount %}
                                {% for ingredient, amount in zip(hit._source.ingredients, hit._source.ingredients_amount) %}
                                    {% if set(ingredient.lower().split()).intersection(normed_query) %}
                                        <p><font color='green'>✓ {{ ingredient }}: {{ amount }}</font></p>
                                    {% else %}
                                        <p><font color='red'>× {{ ingredient }}: {{ amount }}</font></p>
                                    {% endif%}
                                {% endfor %}
                            
                            {% else %}
                                {% for ingredient in hit._source.ingredients %}
                                    {% if set(ingredient.lower().split()).intersection(normed_query) %}
                                        <p><font color='green'>✓ {{ ingredient }}</font></p>
                                    {% else %}
                                        <p><font color='red'>× {{ ingredient }}</font></p>
                                    {% endif%}
                                {% endfor %}
                            
                            {% endif %}
                            
                            <h4>Recipe:</h4>
                            {% for step in hit._source.recipe %}
                                <p>{{ step }}</p>
                            {% endfor %}
                          
                        </div>
                      </div>

                    </div>                    
                </div>
                <small class="text-muted">{{ hit._source.total_time }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main> 
<script src="{{ url_for('static', filename='js/animation.js') }}"></script>
      
</body>
</html>